html,
body {
    height: 100%;
}

.main {
    height: 600px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_group {
    margin-left: 4%;
    margin-bottom: 15px;
}

.form_group input {
    min-width: 200px;
    border-radius: 3px;
}

.form_group select {
    min-width: 200px;
    border-radius: 3px;
}

.form_group label {
    font-weight: bold;
}

.form_button {
    background-color: cadetblue;
    font-size: 1.3em;
    border-radius: 8px;
}